h1{
  color: blue;
  text-align: center;
}
h2{
  color:green;
  font-style: italic;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
.intro{
  font-style: italic;
  font-size: 18px;
}
#line1{
  color: black;
}
.wild-animals{
  color: black;
}
img {
  border-radius: 110%;
  transform: scaleX(-1);
  padding: 0 6px;
  float: left;
  width: 44.99999%;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: #465193;
}
.sidebar{
  width: 50%;
  float: left;
  background-color: yellow-green;
}
.column {
  width: 350px;
  float: right;
}
#line1 {
  border-left: 4px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  padding: 6px;
  margin: 20px;
  background-color: #C6CAE3;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: white;

  }
.column {
  width: 520px;
  padding: 15px;
}
