h1{
  color: blue;
  text-align: center;
}
h2{
  color:green;
  font-style: italic;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
.intro{
  font-style: italic;
  font-size: 18px;
}
#line1{
  color: black;
}
.wild-animals{
  color: black;
}
img {
  border-radius: 110%;
  transform: scaleX(-1);
  padding: 0 6px;
  float: left;
  width: 44.99999%;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: #465193;
}
.sidebar{
  width: 50%;
  float: left;
  background-color: yellow-green;
}
